html { overflow-y: scroll; }

body {
	margin:			0 auto;
	padding:		23px 14px;
/*	width:			760px; */
	
	background:		#FFFFFF;
	color:			#5A5A5A;
	font-family:		sans-serif;
	font-size:		normal;
}
	
#page {
	border:			0;
/*	width:			760px;*/
	margin:			0 auto;
}

a			{ color:#FF6600; }
a:hover			{ color:#D45500; }

img			{ border:none; }

h1, h2, h3, h4		{ margin: 0; }
h1			{ color: #505050; font-size: 200%; margin-bottom: 0.8em; }
h2			{ color: #404040; font-size: 150%; margin-bottom: 0.5em; }
h3			{ color: #404040; font-size: 100%; }
h4			{ color: #404040; font-size: 80%; }

p			{ margin: 0 0 1.5em 0; }

table			{ border: 1px solid #5A5A5A; border-collapse: collapse; }
td			{ text-align: left; vertical-align: top; }

/* ----- TITLE + MENU ----- */

#pagetitle {
	margin:			0;
	padding:		0 0 7px 0;
	text-align:		left;
	vertical-align:	bottom;
}

#pagesubtitle {
	margin:			0;
	padding:		0 0 5px 0;
	text-align:		right;
	vertical-align:	bottom;
}

#pagenav {
	margin:			0;
	padding:		8px 0px;
	border-top:		1px dashed #5A5A5A;
	
	font-weight:		bold;
	font-size:		90%;
}
#pagenav strong		{ color: #FF6600; }
#pagenav a		{ text-decoration: none; color: #5A5A5A; }
#pagenav a:hover	{ text-decoration: none; color: #FF6600; }

.sep			{ margin: 0 0.8em 0 0.8em; }

/* ----- BODY ----- */

#pagebody		{ padding: 8px 0px; }

/* ----- FOOT ----- */

#pagefoot {
	padding:		8px 0 ;
        border-top:		1px dashed #5A5A5A;
	font-size:		smaller;
}
#pagefoot a		{ text-decoration: none; font-weight: bold;}


