\begin{tabular}{|c|*{6}{c|}}

Taille domaines & 
Temps facorisation &
Temps de Solve &
Temps Total &
Itérations & 
&
Fill ratio \\

<TMPL_LOOP NAME=TAB1>
<TMPL_VAR NAME=param>
<TMPL_VAR NAME=facto> &
<TMPL_VAR NAME=solve> &
<TMPL_VAR NAME=total> &
<TMPL_VAR NAME=itouter> &
<TMPL_VAR NAME=itinner> &
<TMPL_VAR NAME=fill> \\

</TMPL_LOOP>

\end{tabular}
