<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title>HIPS - Hierarchical Iterative Parallel Solver</title>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="../css/naturaldocs.css" type="text/css" rel="stylesheet">
<link href="../logo/hips-logo.ico" rel="hips icon"></head>
<body>
<table id="page">
<tbody>
<tr>
<td id="pagetitle">
<a href="http://hips.gforge.inria.fr/"><img src="../logo/logo-hips-big.jpg" alt="HIPS"></a><br>
</td>
<td id="pagesubtitle">
Hierarchical Iterative Parallel Solver
</td>
</tr>
<tr>
<td id="pagenav" colspan="2">
<a href="../index.html">Home</a><span class="sep">|</span>
<a href="../overview.html">Overview</a><span class="sep">|</span>
<a href="../download.html">Download</a><span class="sep">|</span>
<a href="../doc.html"><strong>Documentation</strong></a>
</td>
</tr>
<tr>
<td id="pagebody" colspan="2">
<h1>Documentation<span class="external text"></span>&nbsp;</h1>
<span style="text-decoration: underline;"></span><a href="../doc.html"></a>

<h2>Installation</h2>

_INCLUDE_
<br>
<ul>
<ul>
</ul>
</ul>
<a href="../doc.html"><br></a>
</td>
</tr>
<tr>
<td id="pagefoot" colspan="2"><br>
</td>
</tr>
</tbody>
</table>
</body></html>
